@model IEnumerable<PartialView.Models.Comment>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetOtherComments</title>
</head>
<body>
    <div>
        <h1>Get Comment</h1>
        @Html.Partial("_Comment")
        @*Model.SingleOrDefault(x => x.Id == 600)是用來提取某一個集合物件的某個item的*@
        @Html.Partial("_Comment2", Model.SingleOrDefault(x => x.Id == 600))
    </div>
</body>
</html>
