@model IEnumerable<PartialView.Models.Comment>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Get Comment</h1>
        @Html.Partial("_Comment")
    </div>
</body>
</html>
